<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../global.css">
        <link rel="stylesheet" href="./style.css">
        <title>Contato</title>
    </head>

        <body>
            <!-- HEADER -->
            <header class="header">
                <div><a href="../dashboard/index.html">Inicio</a></div>
                <div><a href="../quem-somos/view.html">Quem somos</a></div>
                <div><a href="../hospedagem/view.html">Hospedagem</a></div>
                <div><a href="../contato/view.html">Contatos</a></div>
                <div><a href="#">Pontos Turisticos</a></div>
            </header>

            
            <h2 class="titulo">Pontos Turísticos</h2>


            <div class="video">  
                <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/iOvEvl_8q0s?controls=1&mute=1">
                </iframe>
            </div><br><br>

            <div class="imgs"> 
                <div class="img">
                    <img src="../../assets/images/pedra-tartaruga.jpg" alt="pedra da tartaruga">
                    <h4>Pedra da Tartaruga</h4>
                </div>
                <div class="img">
                    <img src="../../assets/images/Torres.jpg" alt="Torres de Bonsucesso">
                    <h4>Torres de Bonsucesso</h4>
                </div>
                <div class="img">
                    <img src="../../assets/images/cahoeira2.jpg" alt="Cahoreira da macumba">
                    <h4>Cahoreira da Macumba</h4>
                </div>
            </div>

            <div class="imgs"> 
                <div class="img">
                    <img src="../../assets/images/Dedo.jpg" alt="Dedo de Deus">
                    <h4>Dedo de Deus</h4>
                </div>
                <div class="img">
                    <img src="../../assets/images/escalavrado1.jpg" alt="Escalavrado">
                    <h4>Escalavrado</h4>
                </div>
                <div class="img">
                    <img src="../../assets/images/sino.jpg" alt="Pedra do Sino">
                    <h4>Pedra do Sino</h4>
                </div>
            </div><br><br>
            <footer>
                <div class="orgao">
                    <p>&copy; 2020. Teresopolis Adventure</p>
                </div>
                <div class="">
                    <ul class="contato" id="contato">
                        <li>Telefone: (21)2643-3036</li>
                        <li>Email: tereadventure@gmail.com</li>
                    </ul>
                </div>
            </footer>
        </body>
</html> 