<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../global.css">
        <link rel="stylesheet" href="./style.css">
        <title>Contato</title>
    </head>

        <body>
            <!-- HEADER -->
            <header class="header">
                <div><a href="../dashboard/index.html">Inicio</a></div>
                <div><a href="#">Quem somos</a></div>
                <div><a href="../hospedagem/view.html">Hospedagem</a></div>
                <div><a href="../contato/view.html">Contatos</a></div>
                <div><a href="../pontos-turisticos/view.html">Pontos Turisticos</a></div>
            </header>

            <div class="texto">
                <h2 class="titulo">Quem Somos?</h2>

                <p>
                    Aventureiros e amantes da natureza desde cedo, nos apaixonamos por este fascinante estilo de vida. Iniciamos uma 
                    série de viagens pela Europa e Estados Unidos. Visitamos dezenas de ginásios, dos mais antigos na França, aos mais 
                    modernos na Califórnia, e de onde além de escalar e fazer trilhas, trouxemos novas ideias para montar a Teresópolis Adventure.
                    Iniciamos apenas como uma loja de venda de equipamentos para pratica de hiking e climb com uma estrutura em formato 
                    de ginásio para realização de treinamentos de escalada.
                </p>
                <p>
                    Rapidamente a Teresópolis Adventure se tornou um sucesso e passamos a receber escaladores e aventureiros vindos de longe 
                    para ter a oportunidade de treinar numa estrutura e recursos até então inéditos na cidade. Sempre inovando e buscando novas 
                    tendências, em 2000 uma grande ampliação na prestação de serviços foi realizada, passamos a oferecer pacotes de passeios nas 
                    mais belas e tradicionais montanhas da cidade.

                    Mais do que vender produtos e serviços, nossa missão é fomentar a prática dos esportes de aventura e outdoor, e levá-lo 
                    para a montanha, de forma que você possa curtir este fascinante esporte, independentemente do nível de seu objetivo.
                </p>

                <div class="imgs">
                    <img src="../../assets/images/quem-somos-parque.jpeg" alt="imagem serra dos órgãos">
                </div>
            </div>

            
            <footer>
                <div class="orgao">
                    <p>&copy; 2020. Teresopolis Adventure</p>
                </div>
                <div class="">
                    <ul class="contato" id="contato">
                        <li>Telefone: (21)2643-3036</li>
                        <li>Email: tereadventure@gmail.com</li>
                    </ul>
                </div>
            </footer>
        </body>
</html>