* {
    margin:0; 
    font-family:'Open Sans', sans-serif;  
}

p{
    text-indent: 40px;
    text-align: justify;
}

footer {
    background-color: #333;
    padding-top: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    color:#fff;
}

.nav li {
    margin-left: 40px;
}

.navbar {
    background-color: white;
}

.laranja {    
    background-color: #333;
}

.h1, h1, .h2, h2 .h3, h3{
    font-family:'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.h2, h2{
    font-size:38px;
    margin-bottom: 30px;
    
}
.p, p, nav {
    font-size: 18px;   
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.contato {
    list-style: none;
    padding: 10px;
    text-align: right;
    font-size: 14px;
}

.orgao{
    vertical-align: middle;
}

.orgao p{
    font-size:16px;
    text-align: center;
}

.contato a{
    color:black;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    height: 3vh;
    margin: auto;
  }
  
  .header div {
    display: inline-block;
    margin-right: 20px;
  }
  
  .header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  .header a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
  }
  
  .texto{
    padding: 50px;
    margin-bottom: 50px;
  }

  .titulo{
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
  }