<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta varchar="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Hello World</title>
        <link rel="icon" href="../../assets/images/feso.jpg"/>
        <link rel="stylesheet" href="../global.css">
        <link rel="stylesheet" href="./index.css">
    </head>

    <body>
        <header class="header">
                <div><a href="#">Inicio</a></div>
                <div><a href="../quem-somos/view.html">Quem somos</a></div>
                <div><a href="../hospedagem/view.html">Hospedagem</a></div>
                <div><a href="../contato/view.html">Contatos</a></div>
                <div><a href="../pontos-turisticos/view.html">Pontos Turisticos</a></div>
        </header>

        <body class="container">

            <div class="titulo">
                <h1>Teresópolis Adventure</h1>
            </div>
    
            <div>
                <div>
                    <img class="principal img-responsive center-block" src="../../assets/images/principal.jpg" alt="">
                </div>
            </div>
    
            <div class="texto">
                <div class="row">
                    <h2>Você sabia que Teresópolis é a Capital Nacional do Montanhismo?</h2>
                </div>
                <div>
                    <p>Teresópolis é a cidade mais alta do estado do Rio de Janeiro, a 871 metros e
                    ostenta as mais baixas
                    temperaturas entre os municípios fluminense.
                    Para os aventureiros, a principal atração é o Parque Nacional da Serra dos Órgãos, que abriga o Pico Dedo
                        de Deus – a cidade tem a melhor estrutura para quem visita o parque e não quer gastar
                        muito com camping, albergue e guias. Os adeptos de caminhadas pela mata se esbaldam na famosa
                        travessia Petrópolis-Teresópolis, que tem 30 km, é feita normalmente em 3 dias e passa por
                        cachoeiras e piscinas naturais.
                    </p>
                </div>
            </div>
        </body>

        <footer>
            <div class="orgao">
                <p>&copy; 2020. Teresopolis Adventure</p>
            </div>
            <div class="">
                <ul class="contato" id="contato">
                    <li>Telefone: (21)2643-3036</li>
                    <li>Email: tereadventure@gmail.com</li>
                </ul>
            </div>
        </footer>   
        <script src="./script/index.js"></script>
    </body>
</html>